@font-face {
  font-family: "commando";
  src: url("../fonts/commando.ttf") format("truetype");
}

@font-face {
  font-family: "josefin";
  src: url("../fonts/Josefin_Sans/JosefinSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'josefin';
  src : url('../fonts/Josefin_Sans/JosefinSans-Light.ttf') format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: 'josefin';
  src: url("../fonts/Josefin_Sans/JosefinSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'josefin';
  src: url("../fonts/Josefin_Sans/JosefinSans-SemiBold.ttf") format("truetype");
  font-weight: medium;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.background {
  width: 100%;
}

.btn {
  border: none;
  background: #F6CD40;
  color: #71388B;
  cursor: pointer;
  box-shadow: -2px 2px 0px 0px #71388B;
  padding: 8px 10px 8px 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "commando";
  letter-spacing: 2px;
}

.btn:hover {
  background: #f1c01c;
}