body, html {
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
}
* {
  list-style: none;
}

@font-face {
  font-family: 'commando';
  src : url('commando.ttf'),
}

a {
  text-decoration: none;
  color: white;
}

nav a:hover{
color: #F6CD40;

}

.links {
  align-items: center;
  background-color: black;
  display: none;
  padding: 0 10%;
}

.links li {
  flex: 1 1 auto;
  text-align: center;
  position: relative;
  padding: 10px 0;
}

.links li ul {
  position: absolute;
}

.links li ul,
.sub_mobile li ul {
  display: none;
  top: 37px;
  width: 100%;
  background-color: black;
  padding: 0;
}

.logo-gamezone-mobile {
  position: absolute;
  margin-left: 20px;
  margin-top: 15px;
}

.burger {
  width: 100%;
  height: 100px;
  background-color: black;
}

.burger img {
  float: right;
  margin-top: 30px;
  width: 50px;
  margin-right: 20px;
}


.sub_mobile {
  background-color: black;
  display: none;
  text-align: center;
  padding-bottom: 20px;
  margin: 0;
}

.sub_mobile li {
  padding: 15px 0;
}


.top_nav {
  display: flex;
  justify-content: space-between;
  align-items: normal;
}

.top_nav li img {
  width: 150px;
}

.top_nav li:first-child img {
  margin: 15px 0 0 15px;
}

.top_nav .logo_container {
  display: flex;
}

.top_nav a {
  margin: auto 0;
}

.top_nav .logo,
.logo_mobile img {
  width: 300px;
}




@media screen and (min-width: 768px) {

li {
    font-size: 18px;
}


nav li {
    font-size: 16px;
}


}

@media screen and (min-width: 992px)  {

li {
  font-size: 18px;
}


.burger {
  display: none;
}

.logo-gamezone {
  position: sticky;
  margin-left: 20px;
  margin-top: 0px;
}

.logo-gamezone-mobile {
  display: none;
}

.links {
  display: flex;
  padding: 0px 360px 0px 20px;
}


.top_nav .logo {
  width: 350px;
}

.links {
  height: 100px;
  margin-top: 0;
}



}


@media screen and (min-width: 1200px) {


}