.selction {
    display: flex;
}
.park_paln img {
    position: absolute;
    width: auto;
    height: 550px;
}
.checkbox {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0 20px;
}
.checkbox img {
    width: 40px;
    height: 50px;
}
.checkbox p {
    margin-left: 10px;
}
.search {
    display: flex ;
    flex-direction: column;
}
.check {
    display: none;
}
.block-text {
    display: flex;
}
