.selction {
    display: flex;
}
.park_paln {
    padding: 70px 80px;
}
.park_paln img {
    position: absolute;
    width: auto;
    height: 550px;
}
.checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-self: baseline;
}
.search {
    display: flex ;
    flex-direction: column;
}
.check {
    display: none;
}
