#app-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
    height: 300px;
}
.day {
    padding: 20px;
}
.weekend {
    color: red;
}
.nocturne {
    background-color: #15172db9;    ;
}
.FirstTuesday {
    background-color: #71388B;
}
.LastSunday {
    background-color: #C9116A;
}
h2 {
    margin: 15px 0;
    text-align: center;
}
section {
    margin: 0;
}